.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.breadcrumb {
    padding: 40px 0;
    color: #7d8184;
}

.about {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}

.rightabout {
    flex: 1;
}

.rightabout h1 {
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 20px;
}

.rightabout p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.leftabout {
    flex: 1;
}

.leftabout img {
    width: 100%;
    border-radius: 4px;
}


.gift-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 0;
}

.gift1 {
    flex: 1;
    border: 1px solid #e5e5e5;
    padding: 30px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 4px;
}

.gift1 img {
    margin-bottom: 15px;
}

.gift1 h2 {
    font-size: 32px;
    font-weight: 700;
}

.gift1:hover {
    transform: translateY(-5px);
    background-color: #DB4444;
    color: white;
    border-color: #DB4444;
}


.staff-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 0;
}

.staff1 {
    flex: 1;
}

.staff1 img {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 20px;
}

.staff1 h2 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 8px;
}

.staff1 p {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}

.media {
    display: flex;
    gap: 15px;
}

.media i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.media i:hover {
    color: #DB4444;
}

.free {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 80px 0px;
}

.free1 img {
    width: 60px;
    position: relative;
    left: 50px;

}


.free1 h1 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 28px;
    padding: 5px 0px;
    letter-spacing: 0%;

}

.free1 p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    padding: 5px 0px;

}