.card {
  width: 270px;
  font-family: sans-serif;
}


.card-top {
  position: relative; 
  background-color: #f5f5f5;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  
}


.card-top img {
  max-width: 100%;
  object-fit: contain;
   
}


.add-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s; 
}

.card-top:hover .add-btn {
  opacity: 1;
  visibility: visible;
}

.heart {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.heart i {
 
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 17px;
}


.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #db4444;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.card-info {
  padding: 15px 0;
}

.card-info h3 {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.price {
  color: #db4444;
  font-weight: bold;
  margin-right: 10px;
}

.old-price {
  color: #7d7d7d;
  text-decoration: line-through;
}
.flexbox{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

